langchain==0.3.27
langchain-google-genai==2.1.10
langchain-core==0.3.75
langchain-text-splitters==0.3.10
langchain-community==0.3.29
chromadb==1.0.20
tiktoken==0.11.0
python-dotenv==1.1.1
pypdf>=4.0.0

streamlit>=1.40.0
pandas>=2.3.0
sentence-transformers>=3.0.0
torch>=2.2.0
transformers>=4.40.0
gspread==5.12.4
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
openpyxl