langchain
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-community
chromadb
tiktoken
python-dotenv
PyPDF2
google-generativeai
streamlit
pandas
sentence-transformers
torch
transformers
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
